html {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    margin: 1em 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin: 1em 0 0 0;
}

textarea {
    min-height: 20em;
}

.btn {
    font-weight: inherit;
}

#add .btn, button#do {
    margin: 1em 0 0 0;
}

#variables {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

#template {
    display: none;
}

#variables .row {
    margin-top: 0.5em;
}
